{% include "header.html" %}
<div class="container" style="margin-bottom: 30px;">
    <div class="main_container">
  <p style="font-size: 30px; margin-bottom: 25px;">Добавить новый аккаунт автора:</p>
<form method="POST">
    {{ form.csrf_token }}
            <p>{{ form.login( style="width: 800px; color: #1A1A1A; border: 2px solid #1A1A1A; margin-bottom: 20px;", class="form-control", placeholder="Логин автора") }}</p>
            <div><input class="form-bt" type="submit" value="Отправить">
                <a class="form-a" style="margin-left: 30px; color:#1A1A1A;" href="/top_authors">Отмена</a>
            </div>
    <p style="margin-top: 30px; font-size: 20px;">{{ content|safe }}</p>
    <p style="margin-top: 30px; font-size: 20px;">{{ login|safe }}</p>
    <p style="margin-top: 15px; font-size: 20px;">{{ password|safe }}</p>
</form>
    </div>
</div>
{% include "footer.html" %}