{% include "layout.html" %}
<div class="container">
        <div class="main_container">
            <div class="img_recipe_page"><img style="position: relative; z-index: -2;" src="{{ recipe.image }}" width="100%" height="100%"/></div>
            <div class="btns-recipe">
                <div style="width: 75%; display: block;">
                <p style="text-align: left; margin: 40px 0 30px; font-size: 30px; color: #1A1A1A;">{{ recipe.title }}</p>
                </div>
                <form method="POST">
                <div style="width: 20%; margin-top: -60px; float: right; display: block; z-index: 3;">
                     <img class="img-delete" style="margin-right: 50px;" src="../static/images/delete.svg" width="40" height="50"/>
                    <img id="img" onclick="change_img('img')" class="img-like" src="../static/images/like.svg" width="50" height="50"/>
                </div>
                <div style="width: 20%; margin-top: -60px; float: right; display: block; z-index: -3;">
                    <input type="submit" style="width: 40px; height: 50px; opacity: 0;" name="submit_button" class="submit_button" value="delete">
                    <input type="submit" style="width: 50px; height: 50px; margin-left: 50px; opacity: 0;" name="submit_button" class="submit_button" value="like">
                </div>
                </form>
            </div>
            <p style="text-align: left; margin: 0 0 30px; font-size: 20px; color: #505050;">Автор: {{ recipe.author_id }}</p>
            <p style="text-align: left; margin: 0 0 30px; font-size: 18px; color: #505050;">Категория: {{ recipe.category }}</p>
            <p style="text-align: left; margin: 0 0 30px; font-size: 20px; color: #1A1A1A;">{{ recipe.recipe_text }} </p>
        </div>
</div>
<script>
function change_img(myimg) {
    var el = document.getElementById(myimg);
    if (el.src.indexOf("../static/images/like_red.png")>0){
    el.src="../static/images/like.svg";
    }
    else{
    el.src="../static/images/like_red.png";
    }
}</script>
{% include "footer.html" %}