{% include "layout.html" %}
<div class="container">
        <div class="main_container">
            <div class="img_recipe_page"><img style="position: relative; z-index: -2;" src="/static/images/405114-sepik_2560x1600.jpg" width="100%" height="100%"/></div>
            <div class="btns-recipe">
                <div style="width: 75%; display: block;">
                <p style="text-align: left; margin: 40px 0 30px; font-size: 30px; color: #1A1A1A;">Название рецепта</p>
                </div>
                <div style="width: 20%; margin-top: -60px; float: right; display: block;">
                    <input type="submit"><img class="img-delete" style="margin-right: 50px;" src="../static/images/delete.svg" width="40" height="50"/>
                    <img id="img" onclick="change_img('img')" class="img-like" src="../static/images/like.svg" width="50" height="50"/>
                </div>
            </div>
            <p style="text-align: left; margin: 0 0 30px; font-size: 20px; color: #505050;">Автор: </p>
            <p style="text-align: left; margin: 0 0 30px; font-size: 20px; color: #1A1A1A;">Куча текста </p>
        </div>
</div>
<script>
function change_img(myimg) {
    var el = document.getElementById(myimg);
    if (el.src.indexOf("../static/images/like_red.png")>0){
    el.src="../static/images/like.svg";
    }
    else{
    el.src="../static/images/like_red.png";
    }
}</script>
{% include "footer.html" %}